Add algorithm support tests for server

 - [x] Name: RS256
  - Value: TBD (requested assignment -257)
  - Description: RSASSA-PKCS1-v1_5 w/ SHA-256
  - Reference: Section 8.2 of \[RFC8017\]

 - [x] Name: RS384
  - Value: TBD (requested assignment -258)
  - Description: RSASSA-PKCS1-v1_5 w/ SHA-384
  - Reference: Section 8.2 of \[RFC8017\]

 - [x] Name: RS512
  - Value: TBD (requested assignment -259)
  - Description: RSASSA-PKCS1-v1_5 w/ SHA-512
  - Reference: Section 8.2 of \[RFC8017\]

 - [x] Name: RS1
  - Value: TBD (requested assignment -262)
  - Description: RSASSA-PKCS1-v1_5 w/ SHA-1
  - Reference: Section 8.2 of \[RFC8017\]

 - [x] Name: PS512
  - Value: -39
  - Description: RSASSA-PSS w/ SHA-512
  - Reference: \[RFC8230\]

 - [x] Name: PS384
  - Value: -38
  - Description: RSASSA-PSS w/ SHA-384
  - Reference: \[RFC8230\]

 - [x] Name: PS256
  - Value: -37
  - Description: RSASSA-PSS w/ SHA-256
  - Reference: \[RFC8230\]

 - [x] Name: ES512
  - Value: -36
  - Description: ECDSA w/ SHA-512
  - Reference: \[RFC8152\]

 - [x] Name: ES384
  - Value: -35
  - Description: ECDSA w/ SHA-384
  - Reference: \[RFC8152\]

 - [x] Name: ES256
  - Value: -7
  - Description: ECDSA w/ SHA-256
  - Reference: \[RFC8152\]

The following elliptic curves support MUST be implemented by servers:

 - [x] Name P-256
  - Value: 1
  - Description: EC2 NIST P-256 also known as secp256r1
  - Reference: \[RFC8152\]

 - [x] Name P-384
  - Value: 2
  - Description: EC2 NIST P-384 also known as secp384r1
  - Reference: \[RFC8152\]

 - [x] Name P-521
  - Value: 3
  - Description: EC2 NIST P-521 also known as secp521r1
  - Reference: \[RFC8152\]

 - [ ] Name secp256k1
  - Value: TBD (requested assignment 8)
  - Description: SECG secp256k1
  - Reference: \[SECG-SEC2\]

 - [x] Name ed25519
  - Value: 6
  - Description: Edwards-curve Digital Signature Algorithm on curve25519
  - Reference: \[RFC8032\]